<!-- Modal -->
<div id="stars">
    <input type="number" name="" id="input-id" value="" />
</div>
<div class="modal fade" id="modalRating" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span id="starRating" class="starRating" style="display:block; margin-left:auto; margin-right:auto;">
                        <input id="rating5" class="rating" type="radio" name="rating" value="5">
                        <label for="rating5">5</label>
                        <input id="rating4" class="rating" type="radio" name="rating" value="4">
                        <label for="rating4">4</label>
                        <input id="rating3" class="rating" type="radio" name="rating" value="3">
                        <label for="rating3">3</label>
                        <input id="rating2" class="rating" type="radio" name="rating" value="2">
                        <label for="rating2">2</label>
                        <input id="rating1" class="rating" type="radio" name="rating" value="1">
                        <label for="rating1">1</label>
                    </span>
                </div>
                <form>
                    <div class="form-group">
                        <label for="comment"></label>
                        <textarea class="form-control" name="comment" placeholder="Let other parents know why you are giving the rating like this (optional)"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
