<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Like what you see?</h4>
            </div>
            <div class="modal-body">
                <p>
                    Login using <a href="/accounts/facebook/login/?process=login">Facebook</a> or
                    <a href="/accounts/signup/">Signup</a> with your email
                </p>
                <p>See something missing, <a href="mailto:support@alltoez.com">let us know</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
