# Core
Django==1.6.4
psycopg2==2.5.2
python-memcached==1.53
Pillow==2.4.0
South==0.8.4
simplejson==3.4.1
django-extensions==1.3.6
django-pipeline==1.3.24
django-jsonfield==0.9.13

# Web server
gunicorn==18.0

# Extra
django-allauth==0.16.1
djangocms-admin-style==0.2.2
django-model-utils==2.0.3
django-endless-pagination==2.0
django-admin-shortcuts==1.2.5
django-filebrowser-no-grappelli-nph==3.4.4
python-dateutil==2.2

# Dev utils
ipython
django-debug-toolbar==1.2

# MUST RUN sudo npm install -g less
