{% extends "alltoez/ui/layouts/base.html" %}
{% load common_tags %}

{% block title %}About{% endblock %}
{% block page_title %}Story of Alltoez{% endblock %}

{% block content %}
    <div class="container text-center about-alltoez">
        <p>
            Alltoez began with the observation that kids are getting more engrossed with screens and gadgets than doing
            social and physical activities. One reason we realized when talking to parents is that its not easy to find
            interesting activities for the kids. Thats how Alltoez was born, a way to helps parents and kids find
            activities they love to do.
        </p>
        <p>
            We believe technology is an enabler, and we want to use it well to help parents and kids. If you have
            any ideas and comments, <a href="mailto:support@alltoez.com" data-uv-trigger class="text-info">share it with us!</a>
        </p>
    </div>
{% endblock %}
