{% extends "alltoez/ui/layouts/base.html" %}

{% block title %}Helping parents and kids find activities they love{% endblock %}
{% block page_title_outer %}{% endblock %}
{% block body_class %}home{% endblock %}

{% block content_full_width %}
    <div class="jumbotron" id="above-the-fold">
        <div class="container text-center about-alltoez">
            <h1>Welcome to Alltoez<span><sup><h3><em>(Beta)</em></h3></sup></span></h1>
            <p>
                Alltoez helps parents and kids find activities they love to do.<br>
                Using technology to help with the <em>art of parenting</em>.
            </p>
            <p>
                Read the story of alltoez <a href="{% url 'about-alltoez' %}">here</a>.
            </p>
            <br/>
            <a href="{% url 'events' %}" class="btn-lg btn-success">Take it for a spin!</a>
            <br/>
            {% if not user.is_authenticated %}
                {% include "alltoez/ui/fragments/social_login.html" %}
                <br><br>
                {% include "alltoez/ui/fragments/email_login.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
