{% extends "alltoez/ui/layouts/base.html" %}
{% load common_tags endless %}

{% block title %}Events{% endblock %}
{% block body_class %}events{% endblock %}

{% block content_full_width %}
	<div class="strip white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="page-header">
						<h1>Events</h1>
						<p class="lead">I'm looking for <a href="#" id="filter-category" class="filter-category">{% firstof category.name 'All events' %}</a></p>

						<div id="filter-header" class="filter-header">
							<div class="category-selection clearfix">
								{% regroup category_list by parent as parent_list %}

								<ul>
									{% for parent_category in parent_list %}
										<li>
											<a href="#"><i class="fa {{ parent_category.grouper.font_awesome_icon_class }}"></i></a>
											<h4>{{ parent_category.grouper }}</h4>
											<ul>
												{% for child_list in parent_category.list %}
												<li>
													<a href="{% url 'events' child_list.slug %}">{{ child_list.name }}</a>
												</li>
												{% endfor %}
											</ul>
										</li>
									{% endfor %}
								</ul>
                                <a href="{% url 'events' %}">All Events</a>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="strip narrow light-grey">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<span class="qty-events">{{ events_list|length }} events</span>
					<select class="sort-events">
                        <option value="">All Events</option>
                        <option value="start_date" {% if request.GET.sort == 'start_date' %}SELECTED{% endif %}>New on Alltoez</option>
                        <option value="next_date" {% if request.GET.sort == 'next_date' %}SELECTED{% endif %}>Upcoming</option>
                        <option value="min_age" {% if request.GET.sort == 'min_age' %}SELECTED{% endif %}>Min. Age</option>
                        <option value="cost" {% if request.GET.sort == 'cost' %}SELECTED{% endif %}>Cost</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="strip white">
        <div class="container events-list">
            <div class="row">
                {% paginate events_list %}
                {% for event in events_list %}
                <div class="col-xs-12 col-sm-4">
                    <div class="event-item">
                        <a href="{% url 'event_detail' event.slug %}">
                            <div class="event-image">
                                <img src="{{ event.image.url }}" width="100%">
                            </div>
                            <div class="event-info">
                                <h4>{{ event.title }}</h4>
                                <p>{{ event.address }}</p>
                            </div>
                            <span class="event-date">{{ event.start_date|date }}</span>
                            <div class="event-age-cost">
                                <div class="age">
                                    {% if event.min_age == 0 %}
                                        <span>Family Event</span>
                                    {% else %}
                                        <span>Min. Age: {{ event.min_age }} </span>
                                    {% endif %}
                                </div>
                                <div class="cost">
                                    <span>Cost: ${{ event.cost }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="event-meta">
                        <span>Posted {{ event.created_at|timesince }} ago</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% show_pages %}
        </div>
	</div>
{% endblock %}

