{% extends "alltoez/ui/layouts/base.html" %}

{% block title %}Helping parents and kids find activities they love to do.{% endblock %}
{% block page_title_outer %}{% endblock %}
{% block body_class %}home{% endblock %}

{% block content_full_width %}
	<div id="above-the-fold" class="container">
		<h1>Welcome to Alltoez</h1>
		<h2>Helping parents and kids find activities they love to do.</h2>
		<a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg">Join Alltoez</a>
	</div>

	<div class="strip white">
		<div class="container">
			<p class="about-alltoez">
				Alltoez finds out about activities for kids and families in their city and recommends activities based on interests and location.
			</p>
			<p class="last">
				Coming soon!
			</p>
		</div>
	</div>
{% endblock %}
