{% extends "alltoez/ui/layouts/base.html" %}
{% load common_tags account %}

{% block title %}{{object}}{% endblock %}
{% block page_title %}
    {{object}}

    {% if object.user == user %}<br/><a href="{% url 'edit_profile' %}" class="btn btn-primary edit-profile-action">Edit Profile</a>{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-7">
        <div class="show-profile-div">
            <h4>
                <div class="user-info">
                    <dl class="dl-horizontal parent-information">
                        {% if object.user.email %}
                        <dt class="email">Email</dt>
                        <dd>{{ object.user.email }}</dd>
                        {% endif %}
                        {% if object.city or object.state or object.zipcode %}
                        <dt class="location">Location</dt>
                        <dd>
                            {% if object.city %}
                            <span class="city">{{ object.city }}</span>
                            {% endif %}
                            {% if object.state %}
                            <span class="state">, {{ object.state }}</span>
                            {% endif %}
                            {% if object.zipcode %}
                            <span class="zipcode"> {{ object.zipcode }}</span>
                            {% endif %}
                        </dd>
                        {% endif %}
                    </dl>
                </div>
                {% if object.user.children.count %}
                <div class="children-info well">
                    <h3 class="text-center"><u>Children Information</u></h3>
                    <ul class="list-unstyled children-list">
                    {% for child in object.user.children.all %}
                        <li><strong>{{ child.name }} </strong>{{ child.get_gender_display }}, {{ child.current_age }} years old</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </h4>
        </div>
    </div>
    <div class="col-xs-12 col-md-5">
        <a href="{% url 'socialaccount_connections' %}" class="btn btn-default">Manage Social Accounts</a>
    </div>
</div>

{% endblock %}
