{% extends "alltoez/ui/layouts/base.html" %}
{% load common_tags %}

{% block title %}{{object}}{% endblock %}
{% block page_title %}{{object}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="show-profile-div">
            <h4>
                <div class="user-info">
                    <dl class="dl-horizontal parent-information">
                        {% if object.user.email %}
                        <dt class="email">Email</dt>
                        <dd>{{ object.user.email }}</dd>
                        {% endif %}
                        {% if object.zip_code %}
                        <dt class="zipcode">Zipcode</dt>
                        <dd>{{ object.zip_code }}</dd>
                        {% endif %}
                    </dl>
                </div>
                {% if object.user.children.count %}
                <div class="children-info well">
                    <h3 class="text-center"><u>Children Information</u></h3>
                    <ul class="list-unstyled children-list">
                    {% for child in object.user.children.all %}
                        <li><strong>{{ child.name }} </strong>{{ child.get_gender_display }}, {{ child.current_age }} years old</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </h4>
            <br/>
            {% if object.user == user %}<a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>{% endif %}
        </div>
    </div>
</div>

{% endblock %}
