{% load static from staticfiles %}


{% comment %}
Show the alltoez logo
{% endcomment %}
<a class="navbar-brand center" href="{{ site }}">
    <img class="img-responsive" src="{{ site }}{% static 'img/alltoez_logo.png' %}" alt="Alltoez logo" height="24">
</a>
{% block content_full_width %}
    <div class="strip white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
