{% load event_filters %}
{% for event in events_list %}
<div class="col-xs-12 col-sm-12">
    <div class="event-item">
        <a href='{% url "event_detail" event.slug %}'>
            <div class="media">
              <div class="media-left media-middle event-image">
                  <img src="{{ event.image }}">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ event.title|truncatechars:'62' }}</h4>
                {% if event.venue.neighborhood %}
                    <span class="pull-left">{{ event.venue.neighborhood }}</span>
                {% else %}
                    <span class="pull-left">{{ event.venue.city }}</span>
                {% endif %}
                {% if event.distance != None %}
                    <span class="pull-right"> - {{ event.distance|floatformat }} mi</span>
                {% endif %}
              </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}