{% load event_filters %}
{% load thumbnail %}

{% for event in events_list %}
<div class="col-xs-12 col-sm-4">
    <div class="event-item">
        <a href='{% url "event_detail" event.slug %}'>
            <div class="event-image">
                {% thumbnail event.image "384x256" crop="center" as im %}
                <img src="{{ im.url }}" width="100%">
                {% endthumbnail %}
            </div>
            <div class="event-info">
                <h4>{{ event.title|truncatechars:'62' }}</h4>
                <p>
                {% if event.venue.neighborhood %}
                    <span class="pull-left">{{ event.venue.neighborhood }}</span>
                {% else %}
                    <span class="pull-left">{{ event.venue.city }}</span>
                {% endif %}
                {% if event.distance != None %}
                    <span class="pull-right">{{ event.distance|floatformat }} mi</span>
                {% endif %}
                </p>
            </div>
            <div class="event-overlay">
                {% if not event.recurrence_detail %}
                    <span class="event-date">
                        {{ event.start_date|local_day_date }}
                        {% if event.start_date != event.end_date and event.end_date %}
                        - {{ event.end_date|local_day_date }}
                        {% endif %}
                    </span>
                    {% if event.end_date|days_since <= 5 %}
                        <span class="event-freshness expiring">Expiring soon</span>
                    {% endif %}
                {% endif %}
                {% if event.published_at|days_since <= 2 %}
                    <span class="event-freshness just-in">Just in</span>
                {% endif %}
            </div>
            <div class="event-age-cost">
                <div class="age">
                    {% if event.min_age == 0 %}
                        <span>Family Event</span>
                    {% else %}
                        <span>Min. Age: {{ event.min_age }} </span>
                    {% endif %}
                </div>
                <div class="cost">
                    {% if event.cost == 0 %}
                        <span>Cost: Free</span>
                    {% else %}
                        <span>Cost: ${{ event.cost|floatformat }}</span>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
    <div class="event-meta">
        <span>Posted {{ event.published_at|naturaldatetime }} ago</span>
        {% if event.view_count > 0 %}
        <span class="pull-right"><i class="fa fa-eye"></i> {{ event.view_count }}</span>
        {% endif %}
    </div>
</div>
{% endfor %}