{% extends "alltoez/ui/layouts/base.html" %}
{% load common_tags %}
{% load static from staticfiles %}
{% load cache pipeline %}

{% block site_header %}
{% include "events/fragments/header_events.html" %}
{% endblock %}

{% block title %}Events{% endblock %}
{% block body_class %}events{% endblock %}

{% block content_full_width %}
	<div class="strip white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="page-header">
						<h1>Events</h1>
						<p class="lead event-filter">I'm looking for
                            <a href="#" id="filter-category" class="filter-category">{% firstof category.name 'all events' %}</a>
                        </p>

						<div id="filter-header" class="filter-header">
							<div class="category-selection clearfix">
								<a href="{% url 'events' %}" class="all-events">All Events</a>

								{% regroup category_list by parent as parent_list %}
								<ul>
									{% for parent_category in parent_list %}
										<li>
											<a href="#"><i class="fa {{ parent_category.grouper.font_awesome_icon_class }}"></i></a>
											<h4>{{ parent_category.grouper }}</h4>
											<ul>
												{% for child_list in parent_category.list %}
												<li>
													<a href="{% url 'events' child_list.slug %}">{{ child_list.name }}</a>
												</li>
												{% endfor %}
											</ul>
										</li>
									{% endfor %}
								</ul>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="strip narrow light-grey">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<span class="qty-events">
                        {{ paginator.object_list.count }} events
                        {% if event_sort == 'distance' %}
                        at {{ venue_radius }} miles from {{ location_string }}
                        {% endif %}
                    </span>
					<select class="sort-events form-control">
                        <option value="-published_at" {% if event_sort == '-published_at' %}SELECTED{% endif %}>New on Alltoez</option>
                        <option value="cost" {% if event_sort == 'cost' %}SELECTED{% endif %}>Cost</option>
                        {% if location_available %}
                        <option value="distance" {% if event_sort == 'distance' %}SELECTED{% endif %}>Proximity</option>
                        {% endif %}
                        <option value="end_date" {% if event_sort == 'end_date' %}SELECTED{% endif %}>Ending Soon</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="strip white">
        <div class="container events-list">
            <div class="row">
                {% include page_template %}
            </div>
        </div>
	</div>
   {% if paginator.num_pages > 1 %}
    <div class="clearfix text-center">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a></li>
                {% else %}
                <li class="disabled"><a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a></li>
                {% endif %}
                {% for counter in paginator.num_pages|times %}
                <li {% if forloop.counter == page_obj.number %}class="active"{% endif %}>
                    <a href="?{% url_replace request 'page' forloop.counter %}">{{ forloop.counter }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
                {% else %}
                <li class="disabled"><a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% javascript 'get_location' %}
{% endblock %}