{% extends "alltoez/ui/layouts/base.html" %}
{% load common_tags %}
{% load cache pipeline %}
{% load markdown_deux_tags %}
{% load admin_urls %}
{% load event_filters %}
{% load static %}

{% block fb_meta %}
    <meta property="og:title"       content="{{ event.title }}" />
    <meta property="og:description" content="{{ event.description }}" />
    <meta property="og:type"        content="website" />
    <meta property="og:image"       content="{{ event.image }}" />
    <meta property="og:url"         content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name"   content="Alltoez" />
{% endblock %}

{% block title %}{{ event.title }}{% endblock %}
{% block page_title_outer %}{% endblock %}
{% block page_title %}{% endblock %}
{% block extra_head %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <link href="{% static 'css/rateit.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extracss %}{% stylesheet 'event_detail' %}{% endblock %}
{% block site_header %}
{% include "events/fragments/header_events.html" %}
{% endblock %}
{% block body_class %}{% endblock %}

{% block post_strip %}
    <div class="container-fluid">
        <div class="row center-block">
            <ul class="pager no-top-margin">
                <li class="previous"><a class="back-to-events" href="{% url 'events' %}"><span aria-hidden="true">&larr;</span> All Events</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-7">
        <div class="left-side">
            <div class="event-title">
                <h1>{{ event.title }}</h1>
            </div>
            <div class="event-categories">
                {% for category in event.category %}
                <a href="{% url 'events' cat_slug=category.slug %}" class="btn btn-default btn-sm">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="event-address">
                <dl>
                    <dt>WHERE</dt>
                    <dd>{{ event.venue.name }}</dd>
                </dl>
            </div>
            <div class="event-neighborhood">
                <dl>
                    <dt>NEIGHBORHOOD</dt>
                    <dd>{{ event.venue.neighborhood }}</dd>
                </dl>
            </div>
            <div class="event-image">
                <img src="{{ event.image }}">
            </div>
            <div class="event-description">
                <p>{{ event.description|markdown }}</p>
            </div>
            {% if event.additional_info %}
            <div class="event-additional-info">
                <dl>
                    <dt>TIPS</dt>
                    <dd>{{ event.additional_info|markdown }}</dd>
                </dl>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12 col-md-5">
        <div class="right-side">
            <div class="social-actions">
                <div class="btn-group btn-group-lg" role="group" aria-label="user-event-actions" id="done-or-bookmark">

                    <button type="button" class="btn btn-primary {% if event.bookmark %}active{% endif %}"
                        {% if user.is_authenticated %}data-toggle="button"{% endif%} aria-pressed="{% if event.bookmark %}true{%else%}false{% endif %}"
                        id="bookmark-action">
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Bookmark
                    </button>
                    <button type="button" data-target="#popoverRating" class="btn btn-primary {% if event.done %}active{% endif %}"
                        aria-pressed="{% if event.bookmark %}true{%else%}false{% endif %}"
                        id="done-action">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Done
                    </button>
                </div>
                <button type="button" class="btn btn-primary btn-lg pull-right"
                        data-toggle="button" id="share-action">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Share
                </button>
                <div id="share-info-dropdown">
                    <div class="share-text">SHARE</div>
                    <input id="share-event-link" type="text" value="{{ request.build_absolute_uri }}" onClick="this.select();" readonly aria-readonly="true">
                    <div class="share-social pull-right">
                        <div id="share-fb" class="btn btn-default btn-sm" onclick="shareLinkOnFb('{{ request.build_absolute_uri }}')">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div id="share-email" class="btn btn-default btn-sm" onclick="shareEventLinkViaEmail('{{ event.title }}', '{{ request.build_absolute_uri }}')">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-location">
                <div class="event-map">
                    <div id="gmap_canvas" style="height:250px;width:100%;"></div>
                    <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
                    <!--div style="overflow:hidden;height:500px;width:600px;">
                    </div-->
                </div>
                <div class="event-detail">
                    <h4>{{ event.title}}</h4>
                    <p>{{event.venue.address|linebreaks}}</p>
                    {% if event.distance != None %}
                    <p>{{ event.distance|floatformat }} mi from {{ location_string }}</p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'admin:venues_venue_change' object.venue.id %}" class="venue-admin btn btn-sm btn-primary">Edit Venue</a>
                    {% endif %}
                    {% if event.venue.phone_number %}
                    <p>
                        <i class="fa fa-phone"></i>
                        {{ event.venue.phone_number }}
                    </p>
                    {% endif %}
                </div>
                {% if event.url %}
                <div class="event-web">
                    <a href="{{ event.url }}" target="_blank" class="site"><i class="fa fa-link"></i> Website</a>
                    {% if event.venue.facebook_url %}
                    <a href="{{ event.venue.facebook_url }}" target="_blank" class="facebook"><i class="fa fa-facebook"></i> Facebook</a>
                    {% endif %}
                    {% if event.venue.yelp_url %}
                    <a href="{{ event.venue.yelp_url }}" target="_blank" class="yelp"><i class="fa fa-yelp"></i> Yelp</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% comment %}
            If there is an event.time_detail, always show the When info.
            However, if there is no recurrence_detail, then that means that the event is only on some specific days,
            so in that case show the "When" info too.
            {% endcomment %}
            {% if event.time_detail or not event.recurrence_detail %}
            <div class="open-hours">
                <dl class="dl">
                    <dt>When:</dt>
                    {% if not event.recurrence_detail %}
                    <p>{{ event.start_date|format_date_filter:"long" }} {% if event.end_date and event.start_date != event.end_date %} to {{ event.end_date|format_date_filter:"long" }} {% endif %}</p>
                    <br/>
                    {% endif %}
                    {% if event.time_detail %}
                    <p>{{ event.time_detail|format_event_datetime|markdown }}</p>
                    {% endif %}
                </dl>
            </div>
            {% endif %}
            <div class="age-allowed">
                <dl class="dl-horizontal">
                    {% if event.min_age == 0 and event.max_age == 100 %}
                    <dt>Age: </dt>
                    <dd>Family Event</dd>
                    {% else %}
                    {% if event.min_age != 0 %}
                    <dt>Min. age:</dt>
                    <dd>{{ event.min_age }} years old</dd>
                    {% endif %}
                    {% if event.max_age != 100 %}
                    <dt>Max. age:</dt>
                    <dd>{{ event.max_age }} years old</dd>
                    {% endif %}
                    {% endif %}
                </dl>
            </div>
            <div class="cost">
                <dl class="dl-horizontal">
                    {% if event.cost == 0 %}
                    <dt>Cost:</dt>
                    <dd>Free</dd>
                    {% else %}
                    <dt>Cost:</dt>
                    {% if event.cost_detail %}
                        <dd><p>{{ event.cost_detail }}</p></dd>
                    {% else %}
                        <dd>${{ event.cost|floatformat }}</dd>
                    {% endif %}
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row"><div class="similar-events-list clearfix"></div></div>

<div class="row">
    <div class="col-xs-12 col-md-4">
        {% if request.user.is_superuser %}
        <br/>
        <br/>
        <a href="{% url 'admin:events_event_change' object.pk %}" class="event-admin btn btn-lg btn-primary">Edit Event</a>
        {% endif %}
    </div>
</div>

{% include "events/fragments/event_action_modal.html" %}
    <script type="text/javascript">
        function init_map() {
            var myOptions = {
                zoom:14,
                center:new google.maps.LatLng({{ event.venue.latitude|add:','|add:event.venue.longitude }}),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
            var marker = new google.maps.Marker({map: map,
                                                position: new google.maps.LatLng({{ event.venue.latitude|add:','|add:event.venue.longitude }}),
                                                title:"{{ event.title }}"
                                                });
            marker.setMap(map);
            //infowindow = new google.maps.InfoWindow({content:"<b>{{ event.title }}</b><br/>{{ event.address|linebreaksbr }}" });
            //google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});
            //infowindow.open(map,marker);
        }
        google.maps.event.addDomListener(window, 'load', init_map);
    </script>
{% if not user.is_authenticated %}
    {% include "events/fragments/login_modal.html" %}
{% endif %}
{% endblock %}
{% block extra_js %}
    {% url 'api_dispatch_list' resource_name="bookmark" api_name="v1" as bookmark_url %}
    {% url 'api_dispatch_list' resource_name="done" api_name="v1" as done_url %}
    {% url 'api_get_recommendations' resource_name="events" api_name="v1" pk=event.id as similar_events_url %}
    <script type="text/javascript">
        var bookmark_url = "{{ bookmark_url }}?format=json"
        var done_url = "{{ done_url }}?format=json"
        var similar_events_url = "{{ similar_events_url }}?format=json"
        var myevent = JSON.parse('{{ event_json|escapejs }}')
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            if (document.referrer.search("/events/") != -1)
            {
                $(".back-to-events").attr("href", document.referrer)
            }
        });
    </script>
    {% javascript 'events_detail' %}
    {% if not user.is_authenticated %}
        {% javascript 'login_prompt' %}
    {% endif %}
    <script type="text/javascript" charset="utf-8">
        window.isLoggedIn = "{{user.is_authenticated}}" == "True";
        window.user = "{{user.pk}}";
    </script>
    {% javascript 'rate_event' %}
{% endblock %}
