{% extends "alltoez/ui/layouts/base.html" %}
{% load common_tags %}
{% load static from staticfiles %}
{% load cache pipeline future %}

{% block site_header %}
{% include "events/fragments/header_events.html" %}
{% endblock %}

{% block title %}Events{% endblock %}
{% block extra_head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
{% endblock %}
{% block extracss %}
{% stylesheet 'event_list' %}
{% endblock %}

{% block body_class %}events{% endblock %}

{% block content_full_width %}
	<div class="strip white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="page-header">
						<p class="lead event-filter">I'm looking for
                            <a href="#" id="filter-category" class="filter-category">{% firstof category.name 'all events' %}</a>
                            {% if location_string %}
                             near
                            <a href="#" id="filter-location" class="filter-location">{{ location_string }}</a>
                            {% else %}
                             in
                            <a href="#" id="filter-location" class="filter-location">Bay Area</a>
                            {% endif %}
                        </p>

                        <div id="filter-location-header" class="filter-location-header visible">
                            <input id="pac-input" class="controls" type="text" style="visibility:hidden;" placeholder="Search for a place or neighborhood">
                            <div id="map-canvas"></div>
                        </div>

						<div id="filter-header" class="filter-header">
							<div class="category-selection clearfix">
								<a href="{% url 'events' %}" class="all-events">All Events</a>

								{% regroup category_list by parent as parent_list %}
								<ul>
									{% for parent_category in parent_list %}
										<li>
											<a href="#"><i class="fa {{ parent_category.grouper.font_awesome_icon_class }}"></i></a>
											<h4>{{ parent_category.grouper }}</h4>
											<ul>
												{% for child_list in parent_category.list %}
												<li>
													<a href="{% url 'events' child_list.slug %}">{{ child_list.name }}</a>
												</li>
												{% endfor %}
											</ul>
										</li>
									{% endfor %}
								</ul>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="strip narrow light-grey">

		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<span class="qty-events">
                        {{ paginator.object_list.count }} events
                        {% if location_string %}
                        at {{ venue_radius|floatformat }} near {{ location_string }}
                        {% endif %}
                    </span>
					<select class="sort-events form-control">
                        <option value="-published_at" {% if event_sort == '-published_at' %}SELECTED{% endif %}>New on Alltoez</option>
                        <option value="cost" {% if event_sort == 'cost' %}SELECTED{% endif %}>Cost</option>
                        {% if location_available %}
                        <option value="distance" {% if event_sort == 'distance' %}SELECTED{% endif %}>Proximity</option>
                        {% endif %}
                        <option value="end_date" {% if event_sort == 'end_date' %}SELECTED{% endif %}>Ending Soon</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="strip white">
        <div class="container events-list">
            <div class="row">
                {% include page_template %}
            </div>
        </div>
	</div>
   {% if paginator.num_pages > 1 %}
    <div class="clearfix text-center">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a></li>
                {% else %}
                <li class="disabled"><a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a></li>
                {% endif %}
                {% for counter in paginator.num_pages|times %}
                <li {% if forloop.counter == page_obj.number %}class="active"{% endif %}>
                    <a href="?{% url_replace request 'page' forloop.counter %}">{{ forloop.counter }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
                {% else %}
                <li class="disabled"><a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
    {% if not user.is_authenticated %}
        {% include "events/fragments/login_modal.html" %}
    {% endif %}
{% endblock %}

{% block extra_js %}
      <script>
        var map;
        var center_marker;
        var icon;
        /**
         * The CurrentLocationControl adds a control to the map that clears map info from server
         * This constructor takes the control DIV as an argument.
         * @constructor
         */
        function CurrentLocationControl(controlDiv) {

          // Set CSS for the control border
          var controlUI = document.createElement('button');
          controlUI.className = 'btn btn-success controls';
          controlUI.innerHTML = 'Current location';
          controlUI.style.marginBottom = '10px';
          controlUI.style.marginLeft = '10px';
          controlUI.title = 'Click to filter at current location';
          controlDiv.appendChild(controlUI);

          // Setup the click event listeners: send the map coords to server
          google.maps.event.addDomListener(controlUI, 'click', function() {
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    center_marker.setMap(null);
                    center_marker = new google.maps.Marker({
                        map:map,
                        icon:icon,
                        animation: google.maps.Animation.DROP,
                        position: currentLocation
                    });
                    map.setCenter(currentLocation);
                    getEventsWithinMapBounds();
                }, function(error) {
                  ga('send', 'event', 'error', 'geolocation', error.code);
                });
              }
          });
        }

        function getEventsWithinMapBounds() {
            var u  = new Url;
            var bounds = map.getBounds();
            u.query.bounds = bounds.toUrlValue();
            u.query.zoom = map.getZoom();
            document.location.href = u;
        }

        function initialize() {
          var map_center;
          {% if latitude and longitude %}
            map_center = new google.maps.LatLng({{ latitude }}, {{ longitude }});
          {% else %}
            map_center = new google.maps.LatLng(37.7577, -122.4376);
          {% endif %}

          map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: {{ zoom }},
            center: map_center,
            overviewMapControl: false,
            streetViewControl: false,
            mapTypeControl: false
          });

          icon  = {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 5,
                    fillColor: 'indigo',
                    fillOpacity: 0.8,
                    strokeColor: 'indigo',
                   };
          // Add events on the map
          var infoWindow = new google.maps.InfoWindow();
          var marker;
          {% for event in events_list %}
              marker = new google.maps.Marker({
                  position: new google.maps.LatLng({{ event.venue.latitude|add:','|add:event.venue.longitude }}),
                  map: map,
                  title: '{{ event.title }}'
              });

            google.maps.event.addListener(marker, "click", (function(marker) {
              return function() {
                infoWindow.setContent("<div><a href='{% url "event_detail" event.slug %}'>{{ event.title }}</a></div>");
                infoWindow.open(map, marker);
              }
            })(marker));
          {% endfor %}

          center_marker = new google.maps.Marker({
            map:map,
            icon:icon,
            position: map_center
          });

          // Create the search box and link it to the UI element.
          var input = /** @type {HTMLInputElement} */(
              document.getElementById('pac-input'));
          input.index = 1;
          map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

          var searchBox = new google.maps.places.SearchBox(
            /** @type {HTMLInputElement} */(input));

          // [START region_getplaces]
          // Listen for the event fired when the user selects an item from the
          // pick list. Retrieve the matching places for that item.
          google.maps.event.addListener(searchBox, 'places_changed', function() {

            var places = searchBox.getPlaces();
            var bounds = new google.maps.LatLngBounds();

            if (places.length == 0) {
              return;
            }

            var place = places[0];
            center_marker.setMap(null);
            center_marker = new google.maps.Marker({
                map:map,
                icon:icon,
                animation: google.maps.Animation.DROP,
                position: place.geometry.location
            });

            map.setCenter(place.geometry.location);
            getEventsWithinMapBounds();
          });
          // [END region_getplaces]

          // Bias the SearchBox results towards places that are within the bounds of the
          // current map's viewport.
          google.maps.event.addListener(map, 'bounds_changed', function() {
            var bounds = map.getBounds();
            searchBox.setBounds(bounds);
          });

          // Get new events when zoomed/dragged
          google.maps.event.addListener(map, 'zoom_changed', function() {
            getEventsWithinMapBounds();
          });

          google.maps.event.addListener(map, 'dragend', function() {
            getEventsWithinMapBounds();
          });

            if (navigator.geolocation) {
                var curLocControlDiv = document.createElement('div');
                var curLocControl = new CurrentLocationControl(curLocControlDiv);

                curLocControlDiv.index = 1;
                map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(curLocControlDiv);
            }

            if (isMobile.any)
            {
                $("#filter-header").removeClass('visible');
                $("#filter-location-header").toggleClass('visible');
            }

            $("#pac-input").css("visibility", "visible");
        }

        function loadGmapScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.21&libraries=places&sensor=false&callback=initialize';
          document.body.appendChild(script);
        }

        window.onload = loadGmapScript;
    </script>

    <script>
        $(document).ready(function() {
            $("#filter-category").on('click', function(e) {
                e.preventDefault();
                $("#filter-location-header").removeClass('visible');
                $("#filter-header").toggleClass('visible');
            });

            $("#filter-location").on('click', function(e) {
                e.preventDefault();
                $("#filter-header").removeClass('visible');
                $("#filter-location-header").toggleClass('visible');
            });

            $('.sort-events').on('change', function(e) {
                var sortBy = $(".sort-events").find(":selected").attr('value');
                var u  = new Url;
                u.query.ordering = sortBy;
                document.location.href = u;
        //        $(".events-list").animate({opacity: 0}, 500, function(){
        //            $.get("/events/sort/", {'sort': sortBy}, function(data) {
        //                console.log(data);
        //                $(".events-list").html(data);
        //                $(".events-list").animate({opacity: 1});
        //            });
            });
        });
    </script>

    {% if not user.is_authenticated %}
        {% javascript 'login_prompt' %}
        <script src="{% static 'js/login_checker.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endif %}
    <script type="text/javascript" charset="utf-8">
        window.isLoggedIn = "{{user.is_authenticated}}" == "True";
    </script>
{% endblock %}
