{% extends "alltoez/ui/layouts/base.html" %}

{% block title %}Verified!{% endblock %}
{% block page_title_outer %}{% endblock %}
{% block body_class %}beta-verified{% endblock %}

{% load url from future %}

{% block content %}
<div class="beta-info">
    <h1>You are a go!</h1>
    <p>Your invite code has been verified.</p>
    <p>You will be automatically redirected to the next step. Or, you can go <a href="{% url 'home' %}">there</a> directly.</p>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function () {
    // Handler for .ready() called.
    window.setTimeout(function () {
        location.href = "{% url 'home' %}";
    }, 3000)
});
</script>
{% endblock %}
