{% extends "alltoez/ui/layouts/email_base.html" %}

{% block title %}
    Verify your email address
{% endblock %}

{% block email_para %}
    {% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
    Thanks for signing up. Click the big button below to activate your {{ site_name }} account.
    {% endblocktrans %}{% endautoescape %}
{% endblock %}
{% block button %}
    <a href="{{ activate_url }}"><span>Verify your email address</span></a>
{% endblock %}