{% extends "alltoez/ui/layouts/email_base.html" %}

{% block title %}
    Reset your password
{% endblock %}

{% block email_para %}
    {% load i18n %}{% blocktrans with site_name=site.name site_domain=site.domain %}

    <p>You're receiving this e-mail because you or someone else has requested a password for your user account at {{ site_domain }}.</p>
    <p>It can be safely ignored if you did not request a password reset.</p>
    {% endblocktrans %}
{% endblock %}
{% block button %}
    <a href="{{ password_reset_url }}"><span>Reset password</span></a>
{% endblock %}