{% extends "alltoez/ui/layouts/base.html" %}
{% load common_tags endless %}

{% block site_header %}
{% include "events/fragments/header_events.html" %}
{% endblock %}

{% block title %}Search for "{{ query }}" {% endblock %}
{% block body_class %}events{% endblock %}

{% block content_full_width %}
    {% if query %}
    <nav class="container">
      <ul class="pager">
        <li class="previous"><a href="{% url 'events' %}"><span aria-hidden="true">&larr;</span> All Events</a></li>
      </ul>
    </nav>
	<div class="strip narrow light-grey">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
                    <h4>
                        <span class="qty-events">{{ paginator.count }} events for <em>{{ query }}</em> </span>
                    </h4>
                    {% if suggestion %}
                    <p>Did you mean <a href="{% url 'search' %}?q={{ suggestion }}"><em>{{ suggestion }}?</em></a></p>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="strip white">
        <div class="container searched-events-list">
            <div class="row">
                {% include page_template %}
            </div>
        </div>
	</div>
    {% else %}
	<div class="strip narrow light-grey">
		<div class="container">
			<div class="row">
				No query found to search. Please use the search bar above.
		</div>
	</div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}