{% load event_filters %}
{% load thumbnail %}

{% if events_list %}
<div class="div-heading"> Other similar events</div>
{% endif %}
{% load event_filters %}
{% for event in events_list %}
<div class="col-xs-12 col-sm-4">
    <div class="event-item">
        <a href='{% url "event_detail" event.slug %}'>
            <div class="event-image">
                {% thumbnail event.image "x230" as im %}
                <img src="{{ im.url }}" width="100%">
                {% endthumbnail %}
            </div>
            <div class="event-info">
                <h4>{{ event.title|truncatechars:'62' }}</h4>
                <p>
                {% if event.venue.neighborhood %}
                    {{ event.venue.neighborhood }}
                {% else %}
                    {{ event.venue.address }}
                {% endif %}
                {% if event.distance %}
                    : {{ event.distance|floatformat }} mi
                {% endif %}
                </p>
            </div>
            {% if not event.recurrence_detail %}
                <span class="event-date">{{ event.start_date|local_day_date }}</span>
            {% endif %}
        </a>
    </div>
</div>
{% endfor %}
