{% load event_filters %}
{% load thumbnail %}

{% if events_list %}
<div class="div-heading"> Other similar events</div>
{% endif %}
{% load event_filters %}
{% for event in events_list %}
<div class="col-xs-12 col-sm-4">
    <div class="event-item">
        <a href='{% url "event_detail" event.slug %}'>
            <div class="event-image">
                {% thumbnail event.image "x230" as im %}
                <img src="{{ im.url }}" width="100%">
                {% endthumbnail %}
            </div>
            <div class="event-info">
                <h4>{{ event.title|truncatechars:'62' }}</h4>
                <p>
                {% if event.venue.neighborhood %}
                    {{ event.venue.neighborhood }}
                {% else %}
                    {{ event.venue.address }}
                {% endif %}
                {% if event.distance %}
                    : {{ event.distance|floatformat }} mi
                {% endif %}
                </p>
            </div>
            <div class="event-overlay">
                {% if event.published_at|days_since <= 2 %}
                    <span class="event-freshness just-in">Just in</span>
                {% endif %}
                {% if not event.recurrence_detail %}
                    <span class="event-date">
                        {{ event.start_date|local_day_date }}
                        {% if event.start_date != event.end_date and event.end_date %}
                        - {{ event.end_date|local_day_date }}
                        {% endif %}
                    </span>
                    {% if event.end_date|days_since >= -5 %}
                        <span class="event-freshness expiring" {% if event.published_at|days_since <= 2 %}style="top:40px"{% endif %}>Ending soon</span>
                    {% endif %}
                {% endif %}
            </div>
        </a>
    </div>
</div>
{% endfor %}
