{% load static from staticfiles %}

<div class="clearfix"></div>
<footer class="footer">
	<div class="container">
        <p class="text-center">
            <a href="https://itunes.apple.com/us/app/alltoez/id1050496349?ls=1&mt=8"><img alt="Download on the App Store" src="{% static 'img/download-on-appstore.svg' %}" height="36"/></a>
            &nbsp;&nbsp;
            <a href="https://play.google.com/store/apps/details?id=com.alltoez.alltoez&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="{% static 'img/google-play-badge.png' %}" height="36"/></a>
        </p>
        <p class="text-center">
            <a href="{% url 'about-alltoez' %}">About</a>
            |
            <a href="mailto:support@alltoez.com" data-uv-trigger>Contact us</a>
        </p>
        <br/>
        <div class="social-footer-button text-center">
            <div class="fb-like" data-href="https://www.facebook.com/alltoez" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
            <div style="margin-top:10px;">
                <a href="https://twitter.com/alltoez" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @alltoez</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
		<p class="text-center text-muted">&copy; Alltoez {% now "Y" %} </p>
	</div>
</footer>
