

    <div class="jumbotron" id="above-the-fold">
        <div class="container text-center about-alltoez">
            <h1>Welcome to Alltoez<span class="about-alltoez-beta"><sup><em>Beta</em></sup></span></h1>
            <p>
                Alltoez helps kids and parents participate in activities they love to do.<br>
                Using technology to help with the <em>art of parenting</em>.
            </p>
            <p>
                Read the story of Alltoez <a href="#about">here.</a>
            </p>
            <br/>
            <div class="survey-links">
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-success">
                        PARENTS:
                        <a href="#parents" class="alert-link">Take a 30s survey here to help us make a better product</a>
                    </div>
                    <br/>
                    <div class="alert alert-success">
                        LOVE TEACHING KIDS?
                        <a href="#teach" class="alert-link"> Take the 30s tutors survey</a>
                    </div>
                    <br/><br/><br/>
                </div>
            </div>
            <div class="clearfix"></div>
            <a href="#events" class="btn btn-info">Take Alltoez for a spin!</a>
            <br/><br/><br/><br/><br/><br/><br/>
            {% comment "reduce call to actions" %}
            {% if not user.is_authenticated %}
                <br/>
                <p class="text-center">or</p>
                {% include "alltoez/ui/fragments/social_login.html" %}
                <br/><br/>
                {% include "alltoez/ui/fragments/email_login.html" %}
            {% endif %}
            {% endcomment %}
        </div>
    </div>

