{% extends "ui/layouts/base.html" %}

{% block title%}Page not found{% endblock %}
{% block page_title %}Page not found{% endblock %}

{% block first_paragraph %}We're sorry but the page you requested could not be found, it could be that it no longer exists.{% endblock %}

{% block content %}
	<p>Please feel free to navigate around the site to find what you were looking for</p>
	<p>If you require further assistance please do not hesitate to <a href="/contact/">contact us</a>.</p>
{% endblock %}
