{% extends "account/base.html" %}

{% load url from future %}
{% load i18n common_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block page_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	<form method="POST" action="{% url 'account_change_password' %}" class="password_change"> {% csrf_token %}
		{% render_form form %}

		<div class="form-actions">
			<button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
		</div>

	</form>
{% endblock %}
