{% extends "account/base.html" %}

{% load url from future %}
{% load i18n common_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block page_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="password-reset">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change"> {% csrf_token %}
            {% with hide_labels=1 %}
                {% render_form form %}
            {% endwith %}
            <div class="form-actions">
                <button type="submit" name="action" class="btn btn-primary reset-btn">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
