{% extends "account/base.html" %}

{% load i18n common_tags %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="password-reset">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% with hide_labels=1 %}
                {% render_form form %}
                {% endwith %}
                <input type="submit" class="btn btn-primary reset-btn" value="{% trans "Reset My Password" %}" />
            </form>
        </div>
{% endblock %}
    </div>
</div>
{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}


