{% extends "account/base.html" %}

{% load url from future %}
{% load i18n common_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block page_title %}{% trans "Sign up with Alltoez" %}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="signup-div">
            <div class="alltoez-snippet">
                <h3>Alltoez helps parents and kids find activities they love to do.</h3>
            </div>
            {% if socialaccount.providers  %}
            <div class="socialaccount_ballot">
                <div class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </div>
                <div class="login-or">{% trans 'or' %}</div>
            </div>

            {% include "socialaccount/snippets/login_extra.html" %}
            <h3>Already signed up? <a href="{{ login_url }}">Log in here.</a></h3>
            {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}

            <form class="signup" id="signup_form" method="post" action="{% url 'alltoez_account_signup' %}">
                {% csrf_token %}
                {% with hide_labels=1 %}
                    {% render_form form %}
                {% endwith %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="primaryAction btn btn-lg btn-success">
                    {% trans "Next " %}
                    <i class="fa fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


