{% extends "account/base.html" %}

{% load url from future %}
{% load i18n common_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="socialaccount-ballot">
            <h1>{% trans "Sign Up" %}</h1>

            {% if socialaccount.providers  %}

            <div class="socialaccount_ballot">

                <div class="row">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </div>
                <div class="login-or">{% trans 'or'|upper %}</div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}

            <form class="signup" id="signup_form" method="post" action="{% url 'alltoez_account_signup' %}">
                {% csrf_token %}
                {% with hide_labels=1 %}
                    {% render_form form %}
                {% endwith %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-default btn-lg">{% trans "Sign Up" %}</button>


                <!--input id="id_email" class="form-control" name="email" placeholder="Your email:" type="text" autocomplete="off">
                <input id="id_password1" class="form-control" name="password1" placeholder="New password:" type="password">
                <input id="id_password2" class="form-control" name="password2" placeholder="Confirm password:" type="password">
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-default btn-lg">{% trans "Sign Up" %}</button>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /-->
                <!--{% endif %}-->
                <!--<button type="submit">{% trans "Sign Up" %} &raquo;</button>-->
            </form>
        </div>
    </div>
</div>
{% endblock %}


