{% extends "alltoez/ui/layouts/base.html" %}
{% load common_tags %}
{% load static from staticfiles %}

{% block site_header %}
{% include "events/fragments/header_events.html" %}
{% endblock %}

{% block title %}Search for "{{ query }}" {% endblock %}
{% block body_class %}events{% endblock %}

{% block content_full_width %}
    {% if query %}
    <nav class="container">
      <ul class="pager">
        <li class="previous"><a href="{% url 'events' %}"><span aria-hidden="true">&larr;</span> All Events</a></li>
      </ul>
    </nav>
	<div class="strip narrow light-grey">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
                    <h4>
                        <span class="qty-events">{{ paginator.count }} events for <em>{{ query }}</em> </span>
                    </h4>
                    {% if suggestion and suggestion|lower != query|lower %}
                    <p>Did you mean <a href="{% url 'search' %}?q={{ suggestion }}"><em>{{ suggestion }}?</em></a></p>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="strip white">
        <div class="container searched-events-list">
            <div class="row">
                {% include page_template %}
            </div>
        </div>
        <div>
            <nav>
                <ul class="pager">
                    {% if page.has_previous %}
                    <li><a href="?{% url_replace request 'page' page.previous_page_number %}">Previous</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">Previous</a></li>
                    {% endif %}
                    {% if page.has_next %}
                    <li><a href="?{% url_replace request 'page' page.next_page_number %}">Next</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
	</div>
    {% else %}
	<div class="strip narrow light-grey">
		<div class="container">
			<div class="row">
				No query found to search. Please use the search bar above.
            </div>
		</div>
	</div>
    {% endif %}
{% endblock %}