.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.social-login-row:before,
.social-login-row:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.social-login-row:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
@media (max-width: 767px) {
  .btn-group-lg > .btn {
    margin-bottom: 25px;
  }
}
.left-side {
  background: #ffffff;
  padding: 20px;
}
.left-side .event-title h1 {
  font-weight: bold;
  margin-top: 16px;
  font-size: 38px;
  color: #282828;
}
.left-side .event-categories {
  padding-bottom: 10px;
}
.left-side .event-categories a {
  margin-right: 4px;
}
.left-side .event-categories a:last-child {
  margin-right: 0px;
}
.left-side .event-address,
.left-side .event-neighborhood {
  display: inline-block;
  padding-right: 10px;
}
.left-side .event-address dt,
.left-side .event-neighborhood dt {
  text-transform: uppercase;
  font-size: 11px;
  color: #93a7b2;
  letter-spacing: 1px;
}
.left-side .event-address dd,
.left-side .event-neighborhood dd {
  margin-top: 5px;
  font-size: 16px;
  color: #6d6d6d;
  letter-spacing: 0;
}
.left-side .event-image img {
  width: 100%;
}
.left-side .event-description p {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #6d6d6d;
  line-height: 1.3em;
  text-align: justify;
}
.left-side .event-additional-info dt {
  text-transform: uppercase;
  font-size: 11px;
  color: #93a7b2;
  letter-spacing: 1px;
}
.left-side .event-additional-info dd {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 0;
}
.right-side {
  padding: 20px;
}
.right-side .social-actions {
  background: #ffffff;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 30px;
}
.right-side .social-actions a {
  text-decoration: none;
  background: #337ab7;
  padding: 16px 30px;
  border-radius: 6px;
  height: 42px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  top: 25px;
  position: relative;
  left: 12px;
  margin-right: 9px;
}
.right-side .social-actions a:last-child {
  margin-right: 0px;
}
.right-side .social-actions a:hover {
  background: #2e6da4;
}
.right-side .social-actions .btn-primary:not(.active) {
  background-color: #3c87c8;
}
.right-side .social-actions .btn:active,
.right-side .social-actions .btn:focus,
.right-side .social-actions .btn.active:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.right-side .social-actions #share-info-dropdown {
  margin-top: 20px;
  -webkit-transition: opacity 500ms ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.right-side .social-actions #share-info-dropdown .share-text {
  text-transform: uppercase;
  font-size: 11px;
  color: #93a7b2;
  letter-spacing: 1px;
  display: inline-block;
  padding-right: 5px;
  height: 100%;
}
.right-side .social-actions #share-info-dropdown #share-event-link {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: #6d6d6d;
  height: 100%;
}
.right-side .social-actions #share-info-dropdown.visible {
  opacity: 1;
  height: 30px;
}
.right-side .social-actions #share-info-dropdown .share-social {
  display: inline-block;
}
.right-side .event-location {
  background: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: 30px;
}
.right-side .event-location .event-map {
  width: 100%;
  height: 250px;
  position: relative;
  background-color: gray;
}
.right-side .event-location .event-detail {
  padding-left: 20px;
  padding-right: 20px;
}
.right-side .event-location .event-detail h4 {
  margin-top: 15px;
  margin-bottom: 3px;
  font-size: 20px;
  color: #282828;
}
.right-side .event-location .event-detail p {
  margin-top: 0px;
  font-size: 15px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 1.2em;
}
.right-side .event-location .event-web {
  border-top: 1px solid #ebebeb;
  height: 50px;
  text-align: center;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.right-side .event-location .event-web a {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  height: 50px;
  color: #6d6d6d;
}
.right-side .event-location .event-web a:hover {
  color: #409cab;
}
.right-side .event-location .event-web a:not(:first-child) {
  border-left: 1px solid #ebebeb;
}
.right-side .open-hours,
.right-side .age-allowed,
.right-side .cost {
  background: #ffffff;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
}
.right-side .open-hours dl,
.right-side .age-allowed dl,
.right-side .cost dl {
  margin-bottom: 0px;
}
.right-side .open-hours dt,
.right-side .age-allowed dt,
.right-side .cost dt {
  text-align: left;
  font-size: 20px;
}
.right-side .open-hours dd,
.right-side .age-allowed dd,
.right-side .cost dd {
  text-align: right;
  font-size: 15px;
  color: #6d6d6d;
  margin-bottom: 25px;
}
.right-side .open-hours dd:last-child,
.right-side .age-allowed dd:last-child,
.right-side .cost dd:last-child {
  margin-bottom: 0px;
}
.right-side .open-hours p,
.right-side .age-allowed p,
.right-side .cost p {
  font-size: 15px;
  color: #6d6d6d;
  margin-bottom: 5px;
}
.right-side .open-hours table,
.right-side .age-allowed table,
.right-side .cost table {
  width: 100%;
  color: #6d6d6d;
  font-size: 15px;
}
.right-side .open-hours table tr,
.right-side .age-allowed table tr,
.right-side .cost table tr {
  margin-bottom: 5px;
}
.right-side .open-hours table tr:last-child,
.right-side .age-allowed table tr:last-child,
.right-side .cost table tr:last-child {
  margin-bottom: 0px;
}
.right-side .open-hours table tr td:first-child,
.right-side .age-allowed table tr td:first-child,
.right-side .cost table tr td:first-child {
  font-weight: 500;
}
.bookmark-events-list .event-item,
.done-events-list .event-item {
  margin-bottom: 10px;
}
.bookmark-events-list a,
.done-events-list a {
  color: black;
}
.bookmark-events-list h3,
.done-events-list h3 {
  text-align: center;
}
.bookmark-events-list .event-image img,
.done-events-list .event-image img {
  width: 68px;
  height: 45px;
}
